.custom-customer-say {
  border: 2px solid red;
  text-align: center;
  background-image: url(../Images/bg1.jpg);
  background-attachment: fixed;
  padding-top: 75px;
  padding-bottom: 100px;
  height: auto;
  background-size: 100% 100%;
  color: white;
  background-repeat: no-repeat;
}
.custom-customer-say > .row > .col-lg-6 > p {
  text-align: center;
  letter-spacing: 1px;
}
.custom-customer-say > .row > .col-lg-6 {
  /* border: 2px solid rgb(248, 11, 11); */
  margin: 0 auto;
}
.custom-customer-say > .row > .col-lg-6 > h3 {
  font-size: 3.2vmax;
  font-weight: 500;
}
