.custom-service-form-quote > .row > div > div > svg {
  width: 60px;
  height: 70px !important;
}
.custom-service-form-quote > .row > div > div > h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

/* Media query  */

/* Extra small	 xsm	<576px */
@media only screen and (min-width: 0px) {
}

/* Small	sm	≥576px */
@media only screen and (min-width: 576px) {
}

/* Medium	md	≥768px */
@media only screen and (min-width: 768px) {
}

/* Large	lg	≥992px */
@media only screen and (min-width: 992px) {
  /* .upper-shifter-form-component-helper {
    top: -100px;
  } */
}

/* Extra large	xl	≥1200px */
@media only screen and (min-width: 1200px) {
}

/* Extra extra large	xxl	≥1400px */
@media only screen and (min-width: 1400px) {
}
